<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8" />
		<title></title>
		<link rel="stylesheet" href="{{ static_url("css/reset.css") }}" />
		<link rel="stylesheet" href="{{ static_url("css/style.css") }}" />
	</head>

	<body>
		<div class="header">
			<div class="header-con">
				<a href="index.html" class="logo-f">
					<span class="logo"></span>
				</a>
			</div>
		</div>
		<div class="content-f">
			<div class="content">
				<form method="post" action="/field">
					 

					<div class="content-t">
						填写下列过滤条件（and）
					</div>
					<div class="row">
						<div class="name">
							所在省
						</div>
						<div class="enter">
							<input type="text" placeholder="1个词，暂不支持多个词" name="province">
						</div>
					</div>
					<div class="row">
						<div class="name">
							所在市
						</div>
						<div class="enter">
							<input type="text" placeholder="1个词，暂不支持多个词" name="city">
						</div>
					</div>
					<div class="row">
						<div class="name">
							公司名称必含词
						</div>
						<div class="enter">
							<input type="text" placeholder="1个词，暂不支持多个词" name="comname">
						</div>
					</div>
					<div class="row">
						<div class="name">
							公司名称禁止词
						</div>
						<div class="enter">
							<input type="text" placeholder="可以填多个词以空格分割" name="comname_mustnot">
						</div>
					</div>
					<div class="row">
						<div class="name">
							职位
						</div>
						<div class="enter">
							<input type="text" placeholder="1个词，暂不支持多个词" name="position">
						</div>
					</div>
					<div class="row">
						<div class="name">
							人数大于
						</div>
						<div class="enter">
							<input type="text" placeholder="填写数字" name="employeeNum">
						</div>
					</div>
					<div class="row">
						<div class="name">
							经纬度
						</div>
						<div class="enter">
							<input type="text" placeholder="例如39.86 116.37 39.83 116.41" name="geo">
						</div>
					</div>
					
					<div class="row">
						<div class="name">
							注册年份大于
						</div>
						<div class="enter">
							<input type="text" placeholder="例如2010" name="registrationYear">
						</div>
					</div>
					<div class="row">
						<div class="name">
							companyCode
						</div>
						<div class="enter">
							<input type="text" name="companyCode">
						</div>
					</div>



					<div class="content-t">
						填写下列可选条件（or）
					</div>
					<div class="row">
						<div class="name">
							公司名关键词
						</div>
						<div class="enter">
							<input type="text" placeholder="可以填多个词以空格分割" name="comname_list">
						</div>
					</div>

					<div class="row">
						<div class="name">
							经营范围关键词
						</div>
						<div class="enter">
							<input type="text" placeholder="可以填多个词以空格分割" name="businessScope_list">
						</div>
					</div>
					 
					

					<div class="row">
						<div class="submit">
							<button type="submit" formmethod="post" formaction="/filter_csv">保存条件使用csv</button>
						</div>
					</div>

					<div class="row">
						<div class="submit">
							<button type="submit" formmethod="post" formaction="/filter_nocsv">保存条件不使用csv</button>
						</div>
					</div>
				</form>


				<form method="get" target="_blank" action="/synonym_main">
					<div class="row">
						<div class="submit">
							<input type="submit" value="同义词" />
						</div>
					</div>
				</form>


				<form action='upload_targetClient_analyze' target="_blank" enctype="multipart/form-data" method='post'>
					<div class="row">
						<div class="submit">
							上传CSV包含comname|businessScope|cominfo字段以及分析关键词:<br/><input type='file' name='file_3fields'/><br/>
							<input type='submit' value='submit'/>
						</div>
					</div>
				</form>

				





			</div>

		</div>
	</body>

</html>
